server:
  port: 8080

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: postgres_user
    password: 1234
    driver-class-name: org.postgresql.Driver

# JPA & Hibernate Configuration
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

jwt:
  secret: c/F3DavoWPdjxTuB1Gu8rdMrNM/lCoOi3rVLeXzuO7w=
  expiration-ms: 3600000